ul.nav.nav-tabs {
  margin-top: 58px;
  display: inline-block;
  a{
    background-color: white;
    float: left;
  }
  li{
    box-shadow: 5px 1px 2px -2px $shadow;
  }
  li.active>a{
    background-color: lighten(grey, 25);
  }
  a:hover{
    color: $linkBlue;
  }
}
.dashboard {
  background-color: grey;
  min-height: calc(100vh - 100px);
  .nav-holder {
    height: 100px;
  }
  .views {
    background-color: white;
    border: 2px solid black;
    min-height: calc(100vh - 300px;);
    width: 70%;
    box-shadow: $shadow 20px 20px 10px;
    .title{
      font-size: 5rem;
    }
    .view-child{
      width: 75%;
      margin-top: 2.5rem;
      background-color: white;
    }
    .dates{
      .date {
        font-size: 1.8rem;
        margin: 1.2rem;
        display: block;
        padding: 1.2rem;
        border: 1px solid black;
        border-radius: 6px;
      }
    }
  }
  .bottom-margin{
    height: 100px;
  }
}
