ul.nav.nav-tabs {
  margin-top: 58px;
  display: inline-block;
  min-width: 346px;
  a{
    background-color: lighten(grey, 45);
    float: left;
  }
  li{
    box-shadow: 5px 1px 2px -2px $shadow;
  }
  li.active>a{
    background-color: white;
    border-bottom: 4px solid white;
    z-index:1;
  }

  a:hover{
    color: $linkBlue;
  }
}

.dashboard {
  background-color: grey;
  min-height: calc(100vh - 100px);
  .nav-holder {
    height: 100px;
  }
}
.bottom-margin{
  height: 100px;
}
.views {
  background-color: white;
  border: 2px solid grey;
  border-top-width: 1px;
  min-width: 346px;
  min-height: calc(100vh - 300px);
  width: 70%;
  box-shadow: $shadow 20px 20px 10px;
  position: relative;
  padding-bottom: 7rem;
  .title{
    font-size: 3rem;
  }
  .view-child{
    width: 90%;
    margin-top: 2.5rem;
    background-color: white;
    text-align: center;
  }
}

@import "./dashboardComponents/_overview";
