@import
"./landingSubcomponents/_intro",
"./landingSubcomponents/_faq",
"./landingSubcomponents/_pitches"
;

.links {
  list-style-type: none;
  height: 50px;
  text-align: center;
  padding: 0px;
  li.link{
    width: 200px;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    border: 2px solid black;
    background-color: slategrey;
    padding: calc(50px-1rem);
    display: inline-block;
    a{
      display: inline-block;
      font-size: 2rem;
      color: white;
      width: 100%;
    }
  }
  li.link.active{
    background-color: white;
    border-color: slategrey;
    a{
      color: black;
    }
  }
}

.home-title{
  height: calc(100px + 5rem);
  padding-top: 50px;
  padding-bottom: 50px;
}

.margin{
  min-height: 100px;
}

.home-slide {
  transition: transform .5s;
  transform: translateX(0);
  width: 100vw;
  min-height: 700px;
}

.home-slide.ng-enter {
  transform: translateX(30vw) scale(0);
}

.home-slide.ng-enter-active.ng-enter, .home-slide.ng-leave {
  position: absolute;
  overflow-x: hidden;
  width: 100vw;
  min-height: 700px;
  transform: translateX(0) scale(1);
}

.home-slide.ng-leave.ng-leave-active {
  transform: translateX(-30vw) scale(0);
}

.wrapper{
  max-width: 100vw;
  overflow: hidden;
  min-height: calc(100vh-100px);
  min-height: 700px;
}
