<!DOCTYPE html>
<html>
<head>
  <title>pitchMe</title>
  <link rel="stylesheet" href="./bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel='stylesheet' href='./css/style.css' />
</head>
<body ng-app='pitchMe' ng-controller='mainCtrl'>
  <ng-include src="'./html/general/nav.html'"></ng-include>
  <ui-view></ui-view>
  <script src='./bower_components/sweetalert/dist/sweetalert.min.js'></script>
  <script src="./bower_components/jquery/dist/jquery.min.js"></script>
  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="./bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src='./dist/bundle.js'></script>
  <ng-include src="'./html/general/footer.html'"></ng-include>
</body>
</html>
