<div class="sunken">
  <ui-view></ui-view>
</div>
<div class="scroller-container">
  <div class="title issue-title">
    Issues
  </div>
  <div class="issues-scroller scroller">
    <ul>
      <li ng-repeat="issue in openIssues" ng-class="{'active': issue._id === currentLocation.id}"><a ng-click="changeIssue(issue)" ui-sref="pitches.dashboard.issues.details({issueID: issue._id})">{{issue.title}}</a></li>
    </ul>
  </div>
</div>
<div ng-class="{'visible': issue.title}" class="scroller-container suggestions">
  <div class="title">Suggestions</div>
  <div class="suggestions-scroller scroller">
    <ul>
      <li>test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
    </ul>
  </div>
</div>

<div ng-show="issue.title" class="add-item-div" id="addSuggestionDiv">
  <div class="title">Suggest a fix</div>
  <a href id="revealSuggestionForm"><div class="fill-link"></div></a>
  <div align="center" class="reveal">
    <form ng-submit="addSuggestion(newSuggestion)" autocomplete="false">
      <label for="title">Title</label><br/>
      <input placeholder="Suggestion Title" type="text" ng-model="newSuggestion.title">
      <label for="body">Body</label><br/>
      <textarea ng-model="newSuggestion.body" placeholder="Suggestion Body"></textarea>
      <button type="submit">Suggest</button>
    </form>
  </div>
</div>

<div class="add-item-div" id="addIssueDiv">
  <a href id="addIssue"><div class="fill-link"></div></a>
  <div class="title">Add Issue</div>
  <div align="center" class="reveal">
    <form autocomplete="off" ng-submit="addIssue(newIssue)" id="addIssue">
      <label for="title">Title</label><br/>
      <input required ng-model="newIssue.title" type="text" placeholder="Title" id="issueTitleInput"/><br>
      <label for="description">Description</label><br>
      <textarea required ng-model="newIssue.description" name="description" placeholder="Description"></textarea><br>
      <button type="submit">Add Issue</button>
    </form>
  </div>

</div>
