<div class="sunken">
  <div class="sunken-child">
    <div class="title">
      Test
    </div>
    <div class="table">
      <div class="vertical-align">
        <div class="horizontal-line"></div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident accusantium ratione qui ad facere hic, quasi reiciendis dicta laborum non tempore exercitationem enim ab repudiandae fuga laudantium unde. Vitae.
      </div>
    </div>
  </div>
</div>
<div class="title issue-title">
  Issues
</div>
<div class="issues-scroller">
  <ul issues="">
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
  </ul>

</div>

<div id="addIssueDiv">
  <div class="title"><a href id="addIssue">Add Issue</a></div>
  <div align="center" id="reveal" class="revealed">
    <form autocomplete="off" ng-submit="addIssue(issue)" id="addIssue">
      <label for="title">Title</label><br/>
      <input required ng-model="issue.title" type="text" placeholder="Title" id="issueTitleInput"/><br>
      <label for="title">Description</label><br>
      <textarea required ng-model="issue.description" name="description" placeholder="Description" id="issueDescrip"></textarea><br>
      <button type="submit">Add Issue</button>
    </form>
  </div>

</div>
