<div class="container">
  <div class="pitches pitched-pitches row">
    <h2>
      Ideas you have Pitched
    </h2>
    <div ng-repeat="pitch in currentUser.pitches" class="col-md-2 col-xs-6 col-sm-2 col-lg-2 my-pitch">
      <div >
        <span>
          {{pitch.description}}
        </span>
      </div>
      <span>
        {{pitch.title}}
      </span>
    </div>
  </div>

  <div ng-if="currentUser.pitchesWorkedOn.length" class="pitches worked-on-pitches row">
    <h2>
      Ideas you have Worked on
    </h2>
    <div ng-repeat="pitch in currentUser.pitchesWorkedOn" class="col-md-2 col-xs-6 col-sm-2 col-lg-2 my-pitch">
      <span>
        {{pitch.title}}
      </span>
    </div>
  </div>
</div>
