<div class="row">

  <div class="container">
    <h4>{{pitch.title}}</h4>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <div class="jumbotron">
        {{pitch.description}}
      </div>
      <div class="pull-right">
        <div>
          Have a comment or question? Post here!
        </div>
        <div>

        <form ng-submit="addComment(comment)">
          <div class="form-group">
            <textarea name="" ng-model="comment" cols="30" rows="5">
            </textarea>
          </div>
          <div class="form-group pull-right">
            <input class='btn btn-info' type="submit"/>
          </div>
        </form>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <h3> Created by </h3> <a href ng-sref='/user/'>{{pitch.pitcher.username}}</a>
      <hr/>
      <h4>Developers currently working on this project:</h4>
      <ul>
        <li ng-repeat="developer in pitch.developers">{{name}}</li>
      </ul>
      <p ng-if="noDevelopers">
        No one is working on this project.
      </p>
      <hr/>
      <h4>
        Request to be put on the projejct!
      </h4>
      <button class='btn btn-success pull-right' ng-click='request()'>Request</button>

      <hr>
    </div>
  </div>
</div>
