.collapsed {
  height: 20vh;
  min-height: 200px;
  background-color: grey;
  position: relative;
  padding: 25px;
  box-shadow: inset $shadow 20px 20px 10px;
  .collapsed-child {
    background-color: white;
    height: 100%;
    margin: 0 auto;
    width: calc(100% - 50px);
    box-shadow: $shadow 20px 20px 10px;
  }
}
