.sunken {
  height: 20vh;
  min-height: 200px;
  background-color: grey;
  position: relative;
  padding: 25px;
  box-shadow: inset $shadow 20px 20px 10px;
  .sunken-child {
    background-color: white;
    height: 100%;
    margin: 0 auto;
    width: calc(100% - 50px);
    box-shadow: $shadow 20px 20px 10px;
    .title{
      font-size: 2rem;
      padding-top: 2rem;
    }
    .issue-description {
      padding: 2rem 35px 0 35px;
    }
  }
}

.title.issue-title{
  font-size: 2.2rem;
}

.issues-scroller {
  overflow-y: scroll;
  margin: 0 auto;
  width: 40%;
  height: 10vh;
  min-height: 100px;
  border: 5px solid black;
  ul{
    list-style-type: none;
    padding: 0;
  }
  li.active{
    background-color: rgb(190, 190, 190);
    a{
      color: black;
    }
  }
}

.issues-scroller::-webkit-scrollbar {
  width: 1rem;
  background-color: white;
}

.issues-scroller::-webkit-scrollbar-track {
  border: 1px solid black;
  border-right: 0;
}

.issues-scroller::-webkit-scrollbar-thumb {
  background-color: slategrey;
  border-radius: 5px;
}

.issues-scroller::-webkit-scrollbar-button {
  background-color: whitesmoke;
  border-left: 1px solid black;
  height: 10px;
}

#addIssueDiv:hover {
  transform: scale(1);
  box-shadow: $shadow 10px 10px 5px;
}

#addIssueDiv.revealed{
  transform: scale(1);
  box-shadow: $shadow 10px 10px 5px;
  #reveal {
    height: 200px;
    margin-top: 25px;
  }
  .fill-link{
    background-color: rgba(149, 200, 183, 0);
  }
}

#addIssueDiv {
  position: absolute;
  bottom: 10px;
  transform: scale(0.9);
  border: 1px solid grey;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  right: 15px;
  width: 150px;
  overflow: hidden;
  transition: all .5s ease;
  .fill-link{
    width: 150px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparentize(#add, .7);;
    transition: background-color .5s ease-in;
  }
  textarea, input {
    width: 120px;
  }
  a{
    color: rgb(73, 104, 133);
  }
  .title{
    font-size: 2rem;
  }
  #reveal {
    overflow: hidden;
    height: 0;
    min-width: 126px;
    transition: all .5s ease;
  }
  #issueDescrip{
    height: 80px;
  }
  button {
    background-color: #add;
    border: 2px solid black;
    border-left-color: grey;
    border-top-color: grey;
    transition: all .2s;
  }
  button:hover {
    background-color: darken(#add, 25);
    border: 2px solid black;
    border-right-color: grey;
    border-bottom-color: grey;
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }

  :-moz-placeholder {
    text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
  }

  :-ms-input-placeholder {
    text-align: center;
  }
}
