.dates{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  .date {
    font-size: 1.8rem;
    margin: 1.2rem;
    display: block;
    padding: 1.2rem;
    border: 1px solid black;
    border-radius: 6px;
  }
}

.box-container {
  display: inline-block;
  width: 160px;
  vertical-align: top;
}
.box {
  width: 150px;
  height: 150px;
  border: 2px solid grey;
  border-radius: 5px;
  text-align: center;
  margin-left: 7px;
  .title{
    font-size: 2rem;
  }
  .issue {
    margin-bottom: 1rem;
  }
}

.line-container {
  display: inline-block;
  position: relative;
  min-height: 450px;
  height: 100%;
  top: 0px;
  width: 21px;
  vertical-align: bottom;
  .vertical-line{
    background-color: grey;
    border-color: grey;
    width: 3px;
    left: 10px;
    height: 100px;
  }
}

.invis{
  border-color: transparent;
}
