<div class="add-pitch-form">
  ​<form ng-submit='createPitch(pitch)'>
    <div class="form-group">
      <label for='Title'>
        Add a Tilte! The catchier the better:
      </label><br>
      <input required type="text" ng-model='pitch.title'>
    </div>
    <div class="form-group">
      <div>
        <label for="description">Add a description. Be as thorough as possible!</label>
      </div>
      <textarea required name="description" ng-required id="description" cols="30" rows="10" ng-minlengthh="150" ng-model='pitch.description'>
      </textarea>
      <p ng-class="{hidden: pitch.description.length >= 150}">Please enter {{150-pitch.description.length}} more characters</p>
    </div>
    <div class="form-group">
      <label for='Title'>
        Are there any specific technologies you are looking for?
      </label><br>
      <input type="text" ng-model='pitch.tags' >
    </div>
    <div class="form-group">
      <button ng-disabled="pitch.description.length <= 150" class='btn btn-primary'>Pitch Idea</button>
    </div>
  </form>
</div>
