<div class="container" align="center">
  <div class="pitches pitched-pitches">
    <h2>
      Ideas you have Pitched
    </h2>
    <div ng-repeat="pitch in currentUser.pitches" class="my-pitch">
      <a href ui-sref="pitches.dashboard.overview({id: pitch._id})">
        <div class="table">

        <div class="hover">
          <span>
            {{pitch.description}}
          </span>
        </div>
      </a>
      <span>
        {{pitch.title}}
      </span>
    </div>
  </div>
</div>

  <div ng-if="currentUser.pitchesWorkedOn.length" class="pitches worked-on-pitches">
    <h2>
      Ideas you have Worked on
    </h2>
    <div ng-repeat="pitch in currentUser.pitchesWorkedOn" class="my-pitch" >
      <a href ui-sref="pitches.dashboard.overview({id: pitch._id})">
        <div>
          <span>
            {{pitch.description}}
          </span>
        </div>
      </a>
      <span>
        {{pitch.title}}
      </span>
    </div>
  </div>
</div>
