<link rel="stylesheet" href="../../css/viewPitch.css">

<div class="container-fluid page">
  <h2>{{pitch.title}}</h2>
  <div class="row">

    <div class="col-xs-8">
      <div class="jumbotron">
        {{pitch.description}}
      </div>
      <div class="row">

        <div class="col-xs-6 col-md-4" >
          <div class="comment" ng-repeat="comment in pitch.comments">

            <div>{{comment.commenter.username}} said:</div>
            <div>{{comment.body}}</div>
          </div>
        </div>

        <div class="col-xs-6">
          <div>
            Post a comment
          </div>
          <div>
            <form ng-submit="addComment(comment)">
              <div class="form-group">
                <textarea name="comment" required ng-model="comment" rows="3">
                </textarea>
              </div>
              <div class="form-group pull-right">
                <input class='btn btn-info' type="submit"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-1 line-container">
      <div class="vertical-line "></div>
    </div>

    <div class="col-xs-3">
      <h3> Created by </h3> <a href ng-href='/#/profile/{{pitch.pitcher.username}}'>{{pitch.pitcher.username}}</a>
      <hr/>
      <h4>Developers currently working on this project:</h4>
      <ul>
        <li ng-repeat="developer in pitch.developers">{{name}}</li>
      </ul>
      <p ng-if="noDevelopers">
        No one is working on this project.
      </p>
      <hr/>
      <h4 ng-if="!requested">
        Request to be put on the projejct!
      </h4>
      <h4 ng-if="requested">
        You've already requested this project!
      </h4>
      <button class='btn btn-success pull-right' ng-disabled='requested' ng-click='request()'>Request</button>

      <hr>
    </div>
  </div>
</div>
