<h1>Register</h1>
<div class="col-sm-4">
  ​<form ng-submit='register(user)'>
    <label for='username'>
      Username:
    </label><br>
    <div class="col-sm-12">
      <input required type="text" ng-model='user.username'>
    </div>
    <label for='email'>
      Email:
    </label><br>
    <div class="col-sm-12">
      <input required type="text" ng-model='user.email'>
    </div>
    <label for='password'>
      Password:
    </label><br>
    <div class="col-sm-12">
      <input required type="password" ng-model='user.password'>
    </div>
    <label for='confirm'>
      Confirm your password:
    </label><br>
    <div class="col-sm-12">
      <input required type="password" ng-model='confirm'>
    </div>
    <div class='col-sm-12'>
      <button type='submit' class='btn btn-primary'>Register</button>
    </div>
  </form>
</div>
