.title{
  font-size: 6rem;
  text-align: center;
}

.about {
  width: 100%;
  background-image: url("../assets/images/background1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  .about-paragraph {
    display:table;
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    .subtitle{
      font-size: 4rem;
    }
    #to-disappear{
      display:table-cell;
      vertical-align: middle;
      text-align: center;
      div.alpha-background{
        background: rgba(0,0,0,0.6);
        color: white;
        width: 75%;
        margin: 0 auto;
      }
      .paragraph-link{
        margin-top: 2rem;
        a {
          color: rgb(116, 251, 255);
        }
        a:hover {
          color: white;
        }
      }
    }
    p{
      text-align:justify;
      font-size: 20px;
    }
  }
}
