.read-more {
  display: table;
  text-align: right;
  height: 100%;
  >span{
    display: table-cell;
    text-align: right;
    vertical-align: middle;
  }
}
.pitch-header h2{
  text-shadow: 2px 2px 4px $shadow;
}

.landing-pitch-title {
  height: 100%;
  display: table;
  div {
    display: table-cell;
    vertical-align: middle;
    font-size: 23px;
  }
}

.pitch {
  margin-top: 8px;
  border: 1px solid black;
  height: 50px;
  width: 100%;
  background-color: white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 4px 4px 2px $shadow;
}

#pitches-top {
  text-align: center;
  margin-bottom: 10px;
  .letters {
    border-bottom: 2px solid black;
  }
}
