body{
  background-color: lightgrey;
  margin-top: 50px;
  height: 100%;
}

html {
  height: 100%;
}

.content {
 height: 93%;
}
body > .content {
  height: auto; min-height: 93%;
}

@import
"./components/landing";

.page-container {
  background: rgba(0,0,0,0.5);
  color: white;
}



.jumbotron {
  color: black;
  background-color: #eee;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}
.row-centered {
  text-align: center;
}


.row-centered {
  text-align: center;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}


.my-pitch {
  height: 200px;
  text-align: center;
  display: table;
  border: 1px solid blue;
  border-radius: 5px;
  div{
    background: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    cursor: pointer;
    display: table;
    width: 100%;
    margin-left: 15px;
    left: -15px;
    opacity: 0;
    padding: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
  }
  div:hover{
    opacity: 1;
  }
  >span {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
    font-size: 34px;
    color: red;
  }
}

.add-pitch-form {
  margin: auto;
  width: 60%;
  border: 1px solid lightgrey;
  text-align: center;
}

.hidden {
  display: none;
}


footer {
  background-color: rgb(83, 83, 83);
  text-align: center;
  clear: both;
  min-height: 7%;
  position: relative;
  a {
    color: rgb(116, 251, 255);
  }
  a:hover {
    color: white;
  }
}

.spacer {
  height: 60vh;
}

.modal {
  input {
    text-align: center;
  }
}
