body{
  background-color: lightgrey;
}

div.my-pitch {
  height: 200px;
  text-align: center;
}

.about {
  width: 100%;
  background-image: url("../assets/images/background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
}

.about-paragraph {
  display:table;
  width: 100%;
  height: 100%;
}

.about span{
  display:table-cell;
  vertical-align: middle;
}

.about p{
  text-align: justify;
}

.about-paragraph-text {
  background: rgba(0,0,0,0.6);
  color: white;
}

.pitch-right {
  height: 100%;
}

.pitch {
  margin-top: 5px;
  border: 1px solid black;
  height: 50px;
  width: 100%;
}

.pitch-right {
  display: table;
}

.pitch-title {
  display: table-cell;
  vertical-align: middle;
  font-size: 23px;
}

.pitch-info {
  display: table;
  text-align: right;
  height: 100%
}

.pitch-info>span{
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

div.my-pitch div{
  background: rgba(0,0,0,0.5);
  color: white;
  position: absolute;
  cursor: pointer;
  display: table;
  opacity: 0;
  padding: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
div.my-pitch div:hover{
  opacity: 1;
}

div.my-pitch>span {
  display: table-cell;
  margin: auto;
  vertical-align: middle;
  font-size: 34px;
  color: red;
}

.add-pitch-form {
  margin: auto;
  width: 60%;
  border: 1px solid lightgrey;
  text-align: center;
}

.verticalLine{
  border-left:medium grey solid;
  min-height: 400px;
  height:100%;
  margin-left: 5px;
}

.hidden {
  display: none;
}

.my-pitch {
  display: table;
  border: 1px solid blue;
  border-radius: 5px;
}
