body{
  background-color: lightgrey;
  margin-top: 50px;
  height: 100%
}

html {
  height: 100%;
}

.content {
 height: 90%;
}
body > .content {
  height: auto; min-height: 90%;
}

// .page-container {
//   width: 100%;
//   height: 100%;
//   background-image: url('../assets/images/background1.jpg');
//   background-position: center;
//   background-repeat: no-repeat;
// }

.page-container {
  background: rgba(0,0,0,0.5);
  color: white;
}

.jumbotron {
  color: black;
  background-color: #eee;
}

.about {
  width: 100%;
  background-image: url("../assets/images/background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
}

.about-paragraph {
  display:table;
  width: 100%;
  height: 100%;
  span{
    display:table-cell;
    vertical-align: middle;
  }
  p{
    text-align:justify;
    font-size: 20px;
  }
}

.about-paragraph-text {
  background: rgba(0,0,0,0.6);
  color: white;
  a {
    color: rgb(116, 251, 255);
  }
  a:hover {
    color: white;
  }
}

.pitch-right {
  height: 100%;
  display: table;
}

.pitch {
  margin-top: 5px;
  border: 1px solid black;
  height: 50px;
  width: 100%;
  background-color: white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.pitch-title {
  display: table-cell;
  vertical-align: middle;
  font-size: 23px;
}

#pitches-top {
  text-align: center;
  margin-bottom: 10px;
  .letters {
    border-bottom: 2px solid black;
  }
}
.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}
.row-centered {
  text-align: center;
}


.row-centered {
  text-align: center;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.pitch-info {
  display: table;
  text-align: right;
  height: 100%;
  >span{
    display: table-cell;
    text-align: right;
    vertical-align: middle;
  }
}

.my-pitch {
  height: 200px;
  text-align: center;
  display: table;
  border: 1px solid blue;
  border-radius: 5px;
  div{
    background: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    cursor: pointer;
    display: table;
    opacity: 0;
    padding: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
  }
  div:hover{
    opacity: 1;
  }
  >span {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
    font-size: 34px;
    color: red;
  }
}

.add-pitch-form {
  margin: auto;
  width: 60%;
  border: 1px solid lightgrey;
  text-align: center;
}

.hidden {
  display: none;
}

#to-disappear {
  opacity: 1;
}

.faqs {
  border: 1px solid black;
  padding: 0px;
  border-right: 2px solid black;
  background-color: white;
}
.faq-header{
  border-bottom: 2px solid black;
  text-align: center;
}

.answer {
  border-bottom: 1px solid black;
}

footer {
  background-color: rgb(83, 83, 83);
  text-align: center;
  clear: both;
  min-height: 10%;
  position: relative;
  a {
    color: rgb(116, 251, 255);
  }
  a:hover {
    color: white;
  }
}

.question {
  margin-top: 5px;
  border-bottom: 1px solid grey;
}

.spacer {
  height: 250px;
}

.modal {
  input {
    text-align: center;
  }
}
