.content {
  background-image: url('../assets/images/letsbuild.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  display: table;
}

.content-child {
  display: table-cell;
  vertical-align: middle;
  background: rgba(0,0,0,0.2);
}

body, html {
  min-width: 500px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

a {
  color: rgb(116, 251, 255);
}

a:hover {
  color: white;
}
