.content {
  background-image: url('../assets/images/letsbuild.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  display: table;
}

.content-child {
  display: table-cell;
  vertical-align: middle;
  background: rgba(0,0,0,0.2);
}

body, html {
  min-width: 500px;
}
