$shadow: rgb(69, 69, 69);


.content {
  background-image: url('../assets/images/blueprints.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: table;
  width: 100%;
  color: black;
}

.jumbotron {
  color: black;
  background-color: #fff;
  box-shadow: 8px 8px 20px $shadow;
}

.content-child {
  display: table-cell;
  vertical-align: middle;
  background: rgba(0,0,0,0.2);
}

body, html {
  min-width: 500px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

a {
  color: rgb(116, 251, 255);
}

a:hover {
  color: white;
}
